.card 
    .preview
        img.preview__image(src=IMG_PATH.brush, alt=DES[0])

    .dn-content
        p.dn-content__description.description-bold KISTOCHKI & KRASIBO. Top cosmetics brand from Chelyabinsk is here!

    .price
        h4.price__cost.cost-bold #{"$" + listNum[2]}

    .objective
        p.objective__description.description-medium 1258 bids, 359 watchers $5.95 for shipping

    .status
        .s-obj
            .stars
                .stars-wrap
                    img.stars__image(src=STAR_PARH.star alt="star")
                .stars-wrap
                    img.stars__image(src=STAR_PARH.star alt="star")
                .stars-wrap
                    img.stars__image(src=STAR_PARH.star alt="star")
                .stars-wrap
                    img.stars__image(src=STAR_PARH.star alt="star")
                .stars-wrap
                    img.stars__image(src=STAR_PARH.halfway alt="star")

            span.s-obj__rating 4.25
            
        .button-card
            button.button-card__btn 
                i.icon-btn
                    img.icon-btn__img(src="../images/card/SVG/like-n.svg", alt="i")
                span.description-btn Watch